.idea/*
playground_tests/*
notconverging.txt
config.ini
wet_chicken_discrete/__pycache__/*
__pycache__/*
batch_rl_algorithms/__pycache__/*
archive/*
batch_rl_algorithms/comparisons/*
approximate_solution_methods/*
model_free_batch_rl_algorithms/debug.py
model_free_batch_rl_algorithms/debug_nn.py
explore_continuous_results.py
explore_results.py
explore_safety_results.py
exploration_utils.py
environment.yaml